{% extends "migu/base.html" %}
{% load i18n %}
{% block page_title %}咪咕爱唱接口测试{% endblock page_title %}
{% block page_description %}本网站可以完成以下工作：单一接口测试、组合接口测试、生成Python脚本、生成Jmeter测试计划{% endblock page_description %}

{% block page_brand_url %}/migu/{% endblock page_brand_url %}
{% block page_brand_title %}咪咕爱唱{% endblock page_brand_title %}

{% block custom_styles_css %}
    <style type="text/css">
    select, input {
        width: 15em;
        height: 2em;
    }
    textarea {
        max-width: 100%;
    }
    </style>
{% endblock custom_styles_css %}